$ const name = "Frank";
$ const lastName = "Rickson";


<div class="subtitle">

    <h2>${name} ${lastName}</h2>
                    
    <p>Has succesfully completed <br>
    <span class="bold">AWS</span> serverless immersion day <br>
    Led by <span class="bold">${name} ${lastName}</span>                   
    </p>
                    
</div>